/* setting the fonts for the entire body */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
/* setting the properties for all the text areas */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/* setting properties for the way the text behaves inside the text boxes*/
.description {
  white-space: pre-wrap;
}
/* setting border radius for the time blocks */
.time-block {
  border-radius: 15px;
}
/* setting border for the row class */
.row {
  border-top: 1px solid white;
}
/* setting the backround color and text color for the hour class */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* changing the backround color for if the class changes to past */
.past {
  background-color: #d3d3d3;
  color: white;
}
/* changing the backround color if the class changes to present */
.present {
  background-color: #ff6961;
  color: white;
}
/*changing the backround color if the class changes to present  */
.future {
  background-color: #77dd77;
  color: white;
}
/* setting properties for the save btn */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}
/* setting a hover function for the save button */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
